#root {
  margin: 0 auto;
  text-align: center;
}

header{
  justify-content: center;
  display: flex;
}

#carrito{
  margin-left: 200px;
}

.card {
  display: flex;
  padding: 2em;
  width: 1000px;
  justify-content: space-between;
}

.producto {
  background-color: #f0f0f0;
  border-radius: 10px;
  width: 200px;
}

.carrito{
  background-color: red;
  z-index: 1;
}
