#cantidad {
  display: flex;
  justify-content: center;
  align-items: center;
  color: azure;
  width: 20px;
  height: 20px;
  right: 40px;
  top: 70px;
  position: relative;
  background-color: orangered;
  padding: 2px;
  border-radius: 20px;
}
